@using Blog.Models
@{
    ViewBag.Title = "Details";
}
<div>
    <h2>@Model.PostTitle</h2>
    <h3>By @Model.PostAuthor on @Model.PostDate;</h3>
    <h4>@Model.PostTease</h4>
    <div class="blogText">@Model.PostBody</div>
    <div class="right-align">
        @Html.ActionLink("Edit", "Edit", new { blogId = Model.PostId }, new { @class = "btn btn-primary" })
    </div>
</div>