@using Blog.Models
@using Microsoft.AspNet.Identity
@model PostViewModel
@{
    ViewBag.Title = "Details";
}

<script type="text/javascript" src="~/Scripts/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="~/Scripts/Blog.js"></script>
<body>
    <h2>@Model.PostTitle</h2>
    <h3>By @Model.PostAuthor on @Model.PostDate</h3>
    <h4>@Model.PostTease</h4>
    <div class="blogText">@Model.PostBody</div>
    @if (Request.IsAuthenticated)
    {
        <button id="btnAddComment" class="btn btn-primary">Add Comment</button>

        @Html.ActionLink("Edit Post", "Edit", new { postId = Model.PostId }, new { @class = "btn btn-primary" })
        <div id="addComment">
            @Html.Partial("_AddComment", Model.CommentViewModel);
        </div>
    }
    else
    {
        <div></div>
        <div>You must be @Html.ActionLink("logged in", "Login", "Account") to comment.</div>
    }
    <div class="comments">
        <h4>Comments</h4>
        @foreach (var comment in Model.PostComments)
        {
            <div class="post-comments">
                <h5>@comment.CommentAuthor on @comment.CommentDate wrote:</h5>
                <h5>@comment.CommentBody</h5>
            </div>
        }
    </div>
</body>
