@using Blog.Models
@model BlogViewModel
@{
    ViewBag.Title = "Details";
}
<div>
    <h2>@Model.PostTitle</h2>
    <h3>By @Model.PostAuthor on @Model.PostDate;</h3>
    <h4>@Model.PostTease</h4>
    <div class="blogText">@Model.PostBody</div>
    <div class="right-align">
        @Html.ActionLink("Edit", "Edit", new { blogId = Model.BlogId}, new { @class = "btn btn-primary" })
    </div>
    @Html.Partial("_AddComment", Model.CommentViewModel);
    @foreach (var comment in Model.BlogComments)
    {
        <h5>@comment.CommentAuthor</h5>
        <h5>@comment.CommentDate</h5>
        <h5>@comment.CommentBody</h5>
    }
</div>